<table summary="Retailer form fields">
   <tr>
      <th><%= f.label(:retailer_code, "Retailer Code") %></th>
      <td><%= f.text_field(:retailer_code) %></td>
   </tr>
   <tr>
      <th><%= f.label(:retailer_name, "Retailer Name") %></th>
      <td><%= f.text_field(:retailer_name) %></td>
   </tr>
   <tr>
      <th><%= f.label(:branch_code, "Branch Code") %></th>
      <td><%= f.text_field(:branch_code) %></td>
   </tr>
   <tr>
      <th><%= f.label(:dse_code, "DSE Code") %></th>
      <td><%= f.text_field(:dse_code) %></td>
   </tr>
   <tr>
      <th><%= f.label(:route_no) %></th>
      <td><%= f.text_field(:route_no) %></td>
   </tr>
   <tr>
      <th><%= f.label(:contact_number, "Contact Number") %></th>
      <td><%= f.text_field(:contact_number) %></td>
   </tr>
   <tr>
      <th><%= f.label(:pan, "Pan Card Number" ) %></th>
      <td><%= f.text_field(:pan) %></td>
   </tr>
   <tr>
      <th><%= f.label(:tin, "Tin Number") %></th>
      <td><%= f.text_field(:tin) %></td>
   </tr>


</table>