 <tr class="<%= cycle('odd', 'even') %>">
	<td><%= pos %></td>
  	<td><%= retailer.retailer_code %></td>
  	<td><%= retailer.retailer_name %></td>
	<td><%= retailer.dse_code %></td>
	<td><%= retailer.route_no %></td>
	<td><%= retailer.contact_number %></td>
	<td><%= retailer.tin %></td>
	<td><%= retailer.pan %></td>

  	<td><%= retailer.latitude %></td>
  	<td><%= retailer.longitude %></td>
  	<td><%= retailer.address %></td>
  	<td><%if retailer.has_inconsistent_addresses %> <img src="/assets/danger-status.png" class="danger-icon"></img><%end%>
  	</td>
  	<td class="actions">
    	<%= link_to("Edit", {:action => 'edit', :id => retailer.id}, :class => 'action edit') %>
    	<%= link_to("Delete", {:action => 'delete', :id => retailer.id}, :class => 'action delete') %>
  	</td>
</tr>