<% if !flash[:notice].blank? %>
    <div class="notice">
        <%= flash[:notice] %>
    </div>
<% end %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="Retailers delete">
  	<h2>Delete Retailer</h2>

  	<%= form_for(:Retailer, :url => {:action => 'destroy', :id => @retailer.id}) do |f| %>

    	<h2>Are you sure you want to permanently delete this Retailer?<h2/>

    	<p class="reference-name"><%= @retailer.retailer_name %></p>

    	<div class="form-buttons">
          <%= submit_tag "Delete Retailer", :class => "form-button shadow-button" %>
    	</div>
  	<% end %>

</div>