<% if !flash[:notice].blank? %>
    <div class="notice">
        <%= flash[:notice] %>
    </div>
<% end %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="Retailers edit">
  <h2 style="margin-bottom:60px">Update Retailer</h2>

  <%= form_for(:retailer, :url => {:action => 'update', :id => @retailer.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag "Update Retailer", :class => "form-button shadow-button" %>
    </div>

  <% end %>
</div>