<% if !flash[:notice].blank? %>
    <div class="notice">
        <%= flash[:notice] %>
    </div>
<% end %>

<h2>All Retailers</h3>

<style type="text/css">
@media print
  {
    body * { visibility: hidden; }
    #index * { visibility: visible; }
    .actions {  display: none;}
    #index { position: absolute; top: 40px; left: 30px; }
  }
</style>
<button class="show-all-button" onClick="showAllRetailers();">Show All</button>
<div id="index">
	<table id="retailer_table" class="listing" summary="Retailer list">
	    <tr class="header">
	      	<th>No.</th>
	      	<th>Retailer code</th>
	      	<th>Retailer name</th>
	      	<th>Branch Code</th>
	      	<th>DSE code</th>
	      	<th>Route</th>
	      	<th>Contact No.</th>
	      	<th>TIN No.</th>
	      	<th>PAN No.</th>
	      	<th>Latitude</th>
	      	<th>Longitude</th>
	      	<th>Address</th>
	      	<th>Status</th>

	      	<th class="actions">Actions</th>
	    </tr>
	    <% pos=0%>
	    <% @retailers.each do |retailer| %>
		       	<%= render(:partial => "retailer_records", :locals => {:retailer => retailer, :pos => pos}) %>
		       	<% pos = pos+1%>
	    <% end %>
  	</table>
</div>

<script type="text/javascript">
	ajaxindicatorstart('Loading Data..');
   $(document).ready(function(){
   	ajaxindicatorstop();

   });

   function showAllRetailers() {
   		<% if @retailers.count == Retailer::PER_PAGE %>
		$.get('/retailer/index', {offset : "<%=@offset.to_i+1%>", route : "<%=@route_search_param%>", retailer_name : "<%=@retailer_search_param%>", branch : "<%=@branch_search_param%>", latitude : "<%=@latitude_search_param%>", longitude : "<%=@longitude_search_param%>", address: "<%=@address_search_param%>" });
		<%else%>
		  alert(" All the retailers loaded !");
		<%end%>
   }
		var tableToExcel = (function() {
			$("#retailer_table").table2excel({
				// exclude CSS class
				exclude: ".noExl",
				name: "ceekay_export_worksheet",
				filename: "ceekay_export" //do not include extension
			});
		})
</script>


