<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        width: 100%;
        height: 480px;
        background-color: #CCC;

      }

      @media print
      {
        body * { visibility: hidden; }
        #map * { visibility: visible; }
        #map { position: absolute; top: 40px; left: 30px; }
      }
    </style>
  </head>
  <body>
    <div id="map">

      <button onclick="myFunction()">Print this page</button>

      <script>

        var infoWindow = []
        function initMap3() {
          var myLatlng = []
          var markers = []
          
          var i = 0
          var j = 0
          defaultLatlng = new google.maps.LatLng(22,88);

          <% pos = 0%>
          <% @retailers.each do |rtlr|%>
              myLatlng[i] = new google.maps.LatLng(<%= rtlr.latitude %>,<%= rtlr.longitude %>);
              markers[i] = new google.maps.Marker({
                position: myLatlng[i],
                title: "<%= rtlr.retailer_name %>",
                draggable: false
              });
              infoWindow[i] = new google.maps.InfoWindow({
                content: "<%= rtlr.retailer_code %>",
                maxWidth: 150
              });
            i++;

          <% end %>
          
          var mapOptions = {
            zoom: 4,
            center: defaultLatlng
          }

          var map = new google.maps.Map(document.getElementById("map"), mapOptions);


          for (j = 0; j < i; j++) {
            markers[j].setMap(map)
            infoWindow[j].open(map, markers[j]);
          
          }


    

        }

          ajaxindicatorstart('Loading Data..');
           $(document).ready(function(){
            ajaxindicatorstop();

           });

      </script>


      <% if !@retailers.blank? %>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GMAP_KEY']%>&callback=initMap3"
          async defer></script>
      <% else %>
        <%= puts "no retailers found"%>
      <% end %>

      
    </div>

  </body>
</html>
