<% if !flash[:notice].blank? %>
    <div class="notice">
        <%= flash[:notice] %>
    </div>
<% end %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="Retailer new">
  	<h2>Create Retailer</h2>

  	<%= form_for(:retailer, :url => {:action => 'create'}) do |f| %>

    	<%= render(:partial => "form", :locals => {:f => f}) %>
    	<div class="form-buttons">
        <%= submit_tag "Create Retailer", :class => "form-button shadow-button" %>
    	</div>
  <% end %>
</div>


