<% if !flash[:notice].blank? %>
    <div class="notice">
        <%= flash[:notice] %>
    </div>
<% end %>

<div class ="form-style-6">
	<%= form_for(:user, :url => {:action => 'update', :id => @user.id}) do |f| %>
		<div class="log-input">
			<div class="log-input-left">
				<%= f.label("New Email ID * : ") %>
			</div>
			<div class="log-input-left">			   
				<%= f.text_field(:email) %>
			</div>				
			<div class="clearfix"> </div>
		</div>
		<div class="log-input">
			<div class="log-input-left">
			   <%= f.label("New Password * : ") %>
			</div>
			<div class="log-input-left">
			   <%= f.password_field(:password) %>
			</div>
			<div class="clearfix"> </div>
		</div>
		<%= submit_tag("Login to your account") %>
	<% end %>
</div>

