<!DOCTYPE html>
<html>
<head>
  <title>Ceekay Tracker</title>
  <%= stylesheet_link_tag('application', :media => 'all') %>
  <%= javascript_include_tag "application" %>
	<meta http-equiv="content-type" content="text/plain; charset=UTF-8"/>
  <%= csrf_meta_tags %>
</head>
<body>

		<div id="content" class="nav-bar">



			<%= link_to("LOG OUT", {:controller => 'user', :action => 'logout'}, :class => 'nav-bar-right') %>
			<%= link_to("UPLOAD", {:controller => 'upload', :action => 'index'}, :class => 'nav-bar-right') %>

			<img src="/assets/app_icon.png" class="nav-bar-left app-icon
			"></img>


			<%= link_to("HOME", {:controller => 'retailer', :action => 'index'}, :class => 'nav-bar-left') %>

			<%= link_to("ADD RETAILER", {:action => 'new'}, :class => 'action new', :class => 'nav-bar-left') %>
			
			<%= link_to("MAP VIEW", {:controller => 'retailer', :action => 'map'}, :class => 'nav-bar-left') %>

			
			<%= link_to_function("PRINT", "javascript:print()", :class => 'nav-bar-left') %>

			<%= link_to_function("EXPORT","javacsript:tableToExcel()" ,:class => 'nav-bar-left') %>
		</div>
	<div id="content" style="margin-bottom:100px;">
			<div id="search">
				<h4> Search By: </h4>
				<%= form_tag( @curr_path ,method: :get, authenticity_token: false) do %>
				  	<p>
				    	<%= text_field_tag :dse_code, params[:dse_code], :placeholder => "DSE code", :class => "custom-form-input"%>
				    	<%= text_field_tag :retailer_name, params[:retailer_name], :placeholder => "Enter Retailer name", :class => "custom-form-input" %>
				    	<%= text_field_tag :route, params[:route], :placeholder => "Route", :class => "custom-form-input" %>
				    	<%= text_field_tag :latitude, params[:latitude], :placeholder => "Latitude", :class => "custom-form-input" %>
				    	
				    	<%= text_field_tag :longitude, params[:longitude], :placeholder => "Longitude", :class => "custom-form-input" %>
				    	<%= text_field_tag :address, params[:address], :placeholder => "Address", :class => "custom-form-input" %>
				    	<%= submit_tag "Search", :name => nil, :class => "form-button shadow-button" %>
				  	</p>
				<% end %>
			
		</div>
		<%= yield %>
	</div>
			<%= yield :page_javascript %>

</body>
</html>
